<div class="bg-gray-800 rounded-lg shadow-md overflow-hidden m-4 text-white">
  <div class="md:flex">
    <div class="p-8">
      <div class="uppercase tracking-wide text-sm text-blue-500 font-semibold">Product</div>
      <h2 class="block mt-1 text-lg leading-tight font-medium"><%= product.name %></h2>
      <p class="mt-2">Cost of Goods Sold: <%= number_to_currency(product.cogs) %></p>
      <%= link_to 'Edit', edit_product_path(product), class: "mt-4 inline-block border-2 border-white hover:border-blue-500 text-white font-bold py-2 px-4" %>
      <%= form_with url: product_path(product), method: :delete, class: "inline" do %>
        <%= submit_tag 'Delete', data: { confirm: 'Are you sure?' }, class: "mt-4 inline-block border-2 border-white hover:border-red-500 text-white font-bold py-2 px-4 cursor-pointer" %>
      <% end %>
    </div>
  </div>
</div>