<%= turbo_frame_tag 'content_frame' do %>
<div>
  <div class="bg-white p-6 rounded-lg shadow-md">
    <h1 class="text-2xl text-center mb-6 text-gray-800 font-semibold">Add/Edit Products</h1>

    <%= form_with model: Product.new, url: products_path, data: { turbo_frame: "products_frame" }, html: { class: "flex flex-col items-center space-y-6" } do |form| %>
      <div class="flex flex-col w-full">
        <%= form.label :name, class: "block text-sm font-medium text-gray-700 mb-1" %>
        <%= form.text_field :name, class: "mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md text-sm shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" %>
      </div>

      <div class="flex flex-col w-full">
        <%= form.label :cogs, class: "block text-sm font-medium text-gray-700 mb-1" %>
        <%= form.number_field :cogs, class: "mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md text-sm shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" %>
      </div>

      <%= form.submit "Add product", class: "w-full inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
    <% end %>
  </div>

  <%= turbo_frame_tag 'products_frame' do %>
    <div class="flex flex-wrap gap-4 mt-8 items-center justify-center">
      <%= render @products %>
    </div>
  <% end %>
</div>
<% end %>