<div class="container mx-auto px-4 text-white">
    <%= link_to 'Back to Dashboard', dashboard_index_path, class: 'border-2 border-gray-800 hover:border-blue-500 text-gray-800 p-2 mb-4 inline-block cursor-pointer' %>
  <h1 class="text-2xl font-bold mb-4 text-blue-500">Custom Periods</h1>
  <%= link_to 'New Custom Period', new_custom_period_path, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
  <div class="mt-4">
    <% @custom_periods.each do |custom_period| %>
      <div class="bg-gray-800 shadow-md rounded px-8 pt-6 pb-8 mb-4 mt-10 max-w-lg">
        <h2 class="text-lg font-bold mb-2 text-blue-500"><%= custom_period.name %></h2>
        <div class="mb-4">
          <p>Start Date: <%= custom_period.start_date %></p>
          <p>End Date: <%= custom_period.end_date %></p>
        </div>
        <div>
          <%= link_to 'View Details', custom_period_path(custom_period), class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

