<!DOCTYPE html>
<html>
  <head>
    <title>ProfitCalcApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<nav class="bg-gray-800 w-full">
  <div class="flex items-center justify-between h-16 px-4">
    <div class="flex items-center">
      <a href="/" class="text-white text-xl font-bold">ProfitCalc</a>
    </div>
    <div class="flex space-x-4">
      <% if user_signed_in? %>
        <%= link_to 'Create New Sale', new_sale_path, class: 'text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium', data: { turbo_frame: 'content_frame', turbo_action: 'replace' } %>
        <%= link_to 'Products', edit_all_products_path, class: 'text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium', data: { turbo_frame: 'content_frame', turbo_action: 'replace' } %>
        <%= link_to 'Sales Data', sales_data_dashboard_index_path, class: 'text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium', data: { turbo_frame: 'content_frame', turbo_action: 'replace' } %>
        
        <div class="relative" data-controller="dropdown">
          <button data-action="click->dropdown#toggle" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">
            Menu
          </button>
          <div data-dropdown-target="menu" class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-1 hidden">
            <%= link_to 'Settings', settings_path, class: 'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100', data: { turbo_frame: 'content_frame', turbo_action: 'replace' } %>
            <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' %>
          </div>
        </div>
      <% else %>
        <%= link_to 'Login', new_user_session_path, class: 'text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium' %>
        <%= link_to 'Sign Up', new_user_registration_path, class: 'text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium' %>
      <% end %>
    </div>
  </div>
</nav>

    <main class="mt-8">
      <div class="max-w-7xl mx-auto px-4">
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>